{% extends 'stocks/base.html' %}
{% block body %}
    <div class="col-sm-4 col-lg-2">
    {% if messages %}
        {% for message in messages %}
        <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <input id="stock_code" name="stock_code" placeholder="stock code">
            <div class="input-group-btn">
                <button type="submit" value="Search" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    {% if investment_list %}
        <ul>
        {% for investment in investment_list %}
            <form action="{% url 'stocks:delete' investment.id %}" method="post">
                {% csrf_token %}
                <li>
                    <a href="/stocks/{{ investment.id }}">{{ investment.code }} &nbsp; {{ investment.updated_date }}</a>
                    <input type="submit" value="Delete" id="delete" name="delete">
                </li>
            </form>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
